.fons{
    background-image: url(../img/armory.jpg);
}
.superbox{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}
.checks{
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}